<h1>Doses#new</h1>
<p>Find me in app/views/doses/new.html.erb</p>



<%= simple_form_for [@cocktail, @dose] do |f| %>

  <div class="card">
    <div class="card-description">
      <p><%= f.input :description %></p>
      <p><%= f.input :name %></p>
      <div class="edit-button">
        <button class="btn  btn-outline-success btn-sm">Add!</button>
      </div>
    </div>
  </div
<% end %>
